html, body {
	overflow: hidden;
	background-attachment: fixed;
	height:100%;
	width:100%;
	padding:0px;
	margin:0px;
}
*{
	font-size:11px;
	font-family:Arial,Verdana,Tahoma,Roboto;
}
a{
        color: #d6eaf8;
        text-decoration: none;
        font-weight: normal;
}
#main{
	width:100%;height:100%;text-align:left;
}
#m_top{
	height:84px;
}
#m_title_layout{
	 height:47px;overflow:hidden;/*line-height:47px;*/
}
#m_toolbar{
	height:28px;padding:1px;
}
#m_left_layout{
	width:288px;
}
#m_body{
	-width:82%;
}
#m_statusbar{
	height:20px;padding:2px;
}
#m_attribute{
	height:260px;
}
#m_status{
	height:180px;
}
#status_alt_speed{
	background:url('images/alt-speed.ico') no-repeat;width:16px;height:16px;
}

.dropArea{
	background-color: #ccffff;
   border: 2px dashed #000000;
	position:absolute;
	z-index:100;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	filter:alpha(opacity=40);
	opacity:0.40;
	margin:4px;
}

.dialog input[type=text],.dialog select,.dialog textarea{
	width:99%;
}
.dialog td.title{
	text-align:right;vertical-align:top;
}

.button-split{
	-background:url('images/button-split.gif') no-repeat;
	width:3px;height:24px;color:#808080;
}
.icon-pause-all{
	background:url('images/pause-all.png') no-repeat;
}
.icon-pause-one{
	background:url('images/pause.png') no-repeat;
}
.icon-start-all{
	background:url('images/start-all.png') no-repeat;
}
.icon-start-one{
	background:url('images/start.png') no-repeat;
}
.icon-alt-speed-true{
	background:url('images/alt-speed-true.png') no-repeat;
}
.icon-alt-speed-false{
	background:url('images/alt-speed-false.png') no-repeat;
}
.icon-system-config{
	background:url('images/system-config.png') no-repeat;
}
.icon-test-port{
	background:url('images/test-port.png') no-repeat;
}
.icon-loading{
	background:url('images/loading.gif') no-repeat;
}
.icon-about{
	background:url('images/about.png') no-repeat;
}
.icon-close{
	background:url('images/close.png') no-repeat;
}
.icon-enabled{
	background:url('images/enabled.png') no-repeat;
}
.icon-disabled{
	background:url('images/disabled.png') no-repeat;
}
.icon-remove-torrent{
	background:url('images/remove.png') no-repeat;
}
.icon-recheck-torrent{
	background:url('images/checking.png') no-repeat;
}

.torrent-list{
	height:100%;width:100%;
}
.torrent-progress{
	margin-top:1px;
	height:13px;
	width:100%; 
	border:1px #c0c0c0 solid;
	text-align:center; 
	position:relative;
	font-size:9px;font-family:Arial,Verdana,Tahoma;-webkit-text-size-adjust:none;
}
.torrent-progress-text{
	height:100%;
	position:absolute;
	left:0; 
	top:0; 
	width:100%; 
	line-height:13px;
	z-index:1;
}
.torrent-progress-bar{
	height:100%;
	width:0;
	position:absolute;
	left:0;
	top:0;
	z-index:0;
}
.torrent-progress-download{
	background-color: #1b4f72;
}
.torrent-progress-error{
	background-color: #bf4040;
}
.torrent-progress-warning{
	background-color: #cc9900;
}
.torrent-progress-seed{
	background-color: #145a32;
}
.torrent-progress-stop{
	background-color: #808080;
}
.torrent-progress-check{
	background-color: #808040;
}

.tree-title-toolbar{
	float:right;padding-right:24px;margin-top:-5px;
}

.text-status-error{
	color:red;
}

.text-status-warning{
	color:#cc9900;
}

.iconlabel{
	display:inline-block;
	width:auto;height:16px;padding-left:19px;
}

.icon-up{
	background:url('images/up.png') no-repeat;
}

.icon-down{
	background:url('images/down.png') no-repeat;
}
.icon-up-act{
	background:url('images/up-act.png') no-repeat;
}
.icon-wait{
        background:url('images/wait.png') no-repeat;
}
.icon-down-act{
	background:url('images/down-act.png') no-repeat;
}

.icon-exclamation{
	background:url('images/error.png') no-repeat;
}

.icon-warning-type1{
	background:url('images/warning.png') no-repeat;
}

.icon-pause-small{
	background:url('images/pause-small.png') no-repeat;
}

.icon-checking{
	background:url('images/checking.png') no-repeat;
}

.icon-deny{
	background:url('images/deny.png') no-repeat;
}

.icon-allow{
	background:url('images/allow.png') no-repeat;
}

.icon-flag-0{
	background:url('images/flag-0.png') no-repeat;
}
.icon-flag-1{
	background:url('images/flag-1.png') no-repeat;
}
.icon-flag--1{
	background:url('images/flag--1.png') no-repeat;
}
.icon-flag-edit{
	background:url('images/flag-edit.png') no-repeat;
}

.icon-folder-change{
	background:url('images/folder-change.png') no-repeat;
}

.icon-tracker-add{
	background:url('images/tracker-add.png') no-repeat;
}

.icon-tracker-edit{
	background:url('images/tracker-edit.png') no-repeat;
}

.icon-tracker-remove{
	background:url('images/tracker-remove.png') no-repeat;
}

.icon-tracker-replace{
	background:url('images/tracker-replace.png') no-repeat;
}

.tip{
	padding:5px;text-align:left;border:1px solid #FF9900;font-size:12px;margin-bottom:2px;display:block;
	padding-left:25px;
	background: #FFFFCC url('images/balloon.png') left no-repeat;
	background-position: 5px 6px; 
	color:#555555;
}

.icon-mobile{
	background:url('images/mobile.png') no-repeat;
}

.icon-transmission{
	background:url('images/transmission.png') no-repeat;
}

.icon-more-peers{
	background:url('images/more-peers.png') no-repeat;
}

.icon-download-update{
	background:url('images/drive-download.png') no-repeat;
}

.icon-queue-move{
	background:url('images/queue-move.png') no-repeat;
}

.icon-queue-move-top{
	background:url('images/queue-move-top.png') no-repeat;
}

.icon-queue-move-up{
	background:url('images/queue-move-up.png') no-repeat;
}

.icon-queue-move-down{
	background:url('images/queue-move-down.png') no-repeat;
}

.icon-queue-move-bottom{
	background:url('images/queue-move-bottom.png') no-repeat;
}

.icon-plugin{
	background:url('images/plugin.png') no-repeat;
}

.icon-target{
	background:url('images/target.png') no-repeat;
}

.icon-ignore{
	background:url('images/ignore.png') no-repeat;
}
.icon-rename{
	background:url('images/rename.png') no-repeat;
}
.icon-trackers{
	background:url('images/tracker-edit.png') no-repeat;
}

.icon-blank{
	background:url('images/blank.gif') no-repeat center center;
}

.icon-save{
	background:url('images/filesave.png') no-repeat center center;
}

.icon-ok{
	background:url('images/ok.png') no-repeat center center;
}

.icon-cancel{
	background:url('images/cancel.png') no-repeat center center;
}

.drop-over-before{
    border-left: 1px #ff0000 solid;
    color: #ff0000;
}
.drop-over-after{
    border-right: 1px #ff0000 solid;
    color: #ff0000;
}
.drag-begin{
    filter:alpha(opacity=60);
    opacity:0.60;
    background-color: #cccccc;
    padding:2px;
    margin-top:7px;
    cursor:move;
    width:95%;
}

.user-label {
	display: inline-block;
   padding: 0px 2px;
	margin-right: 2px;
	border-radius: 2px;
	box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
}

.user-label-big {
	display: inline-block;
   padding: 5px;
	margin: 0 3px 3px 0;
	border-radius: 2px;
	box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
	text-decoration: none;
}

.user-label-set {
	position: absolute;
	right: 0;
}

.user-label-set .l-btn-text {
	line-height: 16px;
	margin: 0 3px;
}

.tree-title {
	display: inline;
}

.iconfont {
	background: url("") no-repeat;
}

.combobox-item {
	cursor: pointer;
}

#torrent-attribute-pieces {
	line-height: 10px;
}

#torrent-attribute-pieces>i {
	background-color: mediumseagreen;
	border: 1px solid white;
	display: inline-block !important;
    height: 10px !important;
    width: 10px !important;
	margin: 1px;
}
.fi{
	display:inline-block;
	width:auto;height:18px;padding-left:30px;
	background-repeat: no-repeat;
	background-position: left center;
}
.fi-ac {background-image: url( "flags/ac.svg" ); }
.fi-ad {background-image: url( "flags/ad.svg" ); }
.fi-ae {background-image: url( "flags/ae.svg" ); }
.fi-af {background-image: url( "flags/af.svg" ); }
.fi-ag {background-image: url( "flags/ag.svg" ); }
.fi-ai {background-image: url( "flags/ai.svg" ); }
.fi-al {background-image: url( "flags/al.svg" ); }
.fi-am {background-image: url( "flags/am.svg" ); }
.fi-ao {background-image: url( "flags/ao.svg" ); }
.fi-aq {background-image: url( "flags/aq.svg" ); }
.fi-ar {background-image: url( "flags/ar.svg" ); }
.fi-as {background-image: url( "flags/as.svg" ); }
.fi-at {background-image: url( "flags/at.svg" ); }
.fi-au {background-image: url( "flags/au.svg" ); }
.fi-aw {background-image: url( "flags/aw.svg" ); }
.fi-ax {background-image: url( "flags/ax.svg" ); }
.fi-az {background-image: url( "flags/az.svg" ); }
.fi-ba {background-image: url( "flags/ba.svg" ); }
.fi-bb {background-image: url( "flags/bb.svg" ); }
.fi-bd {background-image: url( "flags/bd.svg" ); }
.fi-be {background-image: url( "flags/be.svg" ); }
.fi-bf {background-image: url( "flags/bf.svg" ); }
.fi-bg {background-image: url( "flags/bg.svg" ); }
.fi-bh {background-image: url( "flags/bh.svg" ); }
.fi-bi {background-image: url( "flags/bi.svg" ); }
.fi-bj {background-image: url( "flags/bj.svg" ); }
.fi-bl {background-image: url( "flags/bl.svg" ); }
.fi-bm {background-image: url( "flags/bm.svg" ); }
.fi-bn {background-image: url( "flags/bn.svg" ); }
.fi-bo {background-image: url( "flags/bo.svg" ); }
.fi-bq {background-image: url( "flags/bq.svg" ); }
.fi-br {background-image: url( "flags/br.svg" ); }
.fi-bs {background-image: url( "flags/bs.svg" ); }
.fi-bt {background-image: url( "flags/bt.svg" ); }
.fi-bv {background-image: url( "flags/bv.svg" ); }
.fi-bw {background-image: url( "flags/bw.svg" ); }
.fi-by {background-image: url( "flags/by.svg" ); }
.fi-bz {background-image: url( "flags/bz.svg" ); }
.fi-ca {background-image: url( "flags/ca.svg" ); }
.fi-cc {background-image: url( "flags/cc.svg" ); }
.fi-cd {background-image: url( "flags/cd.svg" ); }
.fi-cefta {background-image: url( "flags/cefta.svg" ); }
.fi-cf {background-image: url( "flags/cf.svg" ); }
.fi-cg {background-image: url( "flags/cg.svg" ); }
.fi-ch {background-image: url( "flags/ch.svg" ); }
.fi-ci {background-image: url( "flags/ci.svg" ); }
.fi-ck {background-image: url( "flags/ck.svg" ); }
.fi-cl {background-image: url( "flags/cl.svg" ); }
.fi-cm {background-image: url( "flags/cm.svg" ); }
.fi-cn {background-image: url( "flags/cn.svg" ); }
.fi-co {background-image: url( "flags/co.svg" ); }
.fi-cp {background-image: url( "flags/cp.svg" ); }
.fi-cr {background-image: url( "flags/cr.svg" ); }
.fi-cu {background-image: url( "flags/cu.svg" ); }
.fi-cv {background-image: url( "flags/cv.svg" ); }
.fi-cw {background-image: url( "flags/cw.svg" ); }
.fi-cx {background-image: url( "flags/cx.svg" ); }
.fi-cy {background-image: url( "flags/cy.svg" ); }
.fi-cz {background-image: url( "flags/cz.svg" ); }
.fi-de {background-image: url( "flags/de.svg" ); }
.fi-dg {background-image: url( "flags/dg.svg" ); }
.fi-dj {background-image: url( "flags/dj.svg" ); }
.fi-dk {background-image: url( "flags/dk.svg" ); }
.fi-dm {background-image: url( "flags/dm.svg" ); }
.fi-do {background-image: url( "flags/do.svg" ); }
.fi-dz {background-image: url( "flags/dz.svg" ); }
.fi-ea {background-image: url( "flags/ea.svg" ); }
.fi-ec {background-image: url( "flags/ec.svg" ); }
.fi-ee {background-image: url( "flags/ee.svg" ); }
.fi-eg {background-image: url( "flags/eg.svg" ); }
.fi-eh {background-image: url( "flags/eh.svg" ); }
.fi-er {background-image: url( "flags/er.svg" ); }
.fi-es {background-image: url( "flags/es.svg" ); }
.fi-es-ct {background-image: url( "flags/es-ct.svg" ); }
.fi-es-ga {background-image: url( "flags/es-ga.svg" ); }
.fi-es-pv {background-image: url( "flags/es-pv.svg" ); }
.fi-et {background-image: url( "flags/et.svg" ); }
.fi-eu {background-image: url( "flags/eu.svg" ); }
.fi-fi {background-image: url( "flags/fi.svg" ); }
.fi-fj {background-image: url( "flags/fj.svg" ); }
.fi-fk {background-image: url( "flags/fk.svg" ); }
.fi-fm {background-image: url( "flags/fm.svg" ); }
.fi-fo {background-image: url( "flags/fo.svg" ); }
.fi-fr {background-image: url( "flags/fr.svg" ); }
.fi-ga {background-image: url( "flags/ga.svg" ); }
.fi-gb {background-image: url( "flags/gb.svg" ); }
.fi-gb-eng {background-image: url( "flags/gb-eng.svg" ); }
.fi-gb-nir {background-image: url( "flags/gb-nir.svg" ); }
.fi-gb-sct {background-image: url( "flags/gb-sct.svg" ); }
.fi-gb-wls {background-image: url( "flags/gb-wls.svg" ); }
.fi-gd {background-image: url( "flags/gd.svg" ); }
.fi-ge {background-image: url( "flags/ge.svg" ); }
.fi-gf {background-image: url( "flags/gf.svg" ); }
.fi-gg {background-image: url( "flags/gg.svg" ); }
.fi-gh {background-image: url( "flags/gh.svg" ); }
.fi-gi {background-image: url( "flags/gi.svg" ); }
.fi-gl {background-image: url( "flags/gl.svg" ); }
.fi-gm {background-image: url( "flags/gm.svg" ); }
.fi-gn {background-image: url( "flags/gn.svg" ); }
.fi-gp {background-image: url( "flags/gp.svg" ); }
.fi-gq {background-image: url( "flags/gq.svg" ); }
.fi-gr {background-image: url( "flags/gr.svg" ); }
.fi-gs {background-image: url( "flags/gs.svg" ); }
.fi-gt {background-image: url( "flags/gt.svg" ); }
.fi-gu {background-image: url( "flags/gu.svg" ); }
.fi-gw {background-image: url( "flags/gw.svg" ); }
.fi-gy {background-image: url( "flags/gy.svg" ); }
.fi-hk {background-image: url( "flags/hk.svg" ); }
.fi-hm {background-image: url( "flags/hm.svg" ); }
.fi-hn {background-image: url( "flags/hn.svg" ); }
.fi-hr {background-image: url( "flags/hr.svg" ); }
.fi-ht {background-image: url( "flags/ht.svg" ); }
.fi-hu {background-image: url( "flags/hu.svg" ); }
.fi-ic {background-image: url( "flags/ic.svg" ); }
.fi-id {background-image: url( "flags/id.svg" ); }
.fi-ie {background-image: url( "flags/ie.svg" ); }
.fi-il {background-image: url( "flags/il.svg" ); }
.fi-im {background-image: url( "flags/im.svg" ); }
.fi-in {background-image: url( "flags/in.svg" ); }
.fi-io {background-image: url( "flags/io.svg" ); }
.fi-iq {background-image: url( "flags/iq.svg" ); }
.fi-ir {background-image: url( "flags/ir.svg" ); }
.fi-is {background-image: url( "flags/is.svg" ); }
.fi-it {background-image: url( "flags/it.svg" ); }
.fi-je {background-image: url( "flags/je.svg" ); }
.fi-jm {background-image: url( "flags/jm.svg" ); }
.fi-jo {background-image: url( "flags/jo.svg" ); }
.fi-jp {background-image: url( "flags/jp.svg" ); }
.fi-ke {background-image: url( "flags/ke.svg" ); }
.fi-kg {background-image: url( "flags/kg.svg" ); }
.fi-kh {background-image: url( "flags/kh.svg" ); }
.fi-ki {background-image: url( "flags/ki.svg" ); }
.fi-km {background-image: url( "flags/km.svg" ); }
.fi-kn {background-image: url( "flags/kn.svg" ); }
.fi-kp {background-image: url( "flags/kp.svg" ); }
.fi-kr {background-image: url( "flags/kr.svg" ); }
.fi-kw {background-image: url( "flags/kw.svg" ); }
.fi-ky {background-image: url( "flags/ky.svg" ); }
.fi-kz {background-image: url( "flags/kz.svg" ); }
.fi-la {background-image: url( "flags/la.svg" ); }
.fi-lb {background-image: url( "flags/lb.svg" ); }
.fi-lc {background-image: url( "flags/lc.svg" ); }
.fi-li {background-image: url( "flags/li.svg" ); }
.fi-lk {background-image: url( "flags/lk.svg" ); }
.fi-lr {background-image: url( "flags/lr.svg" ); }
.fi-ls {background-image: url( "flags/ls.svg" ); }
.fi-lt {background-image: url( "flags/lt.svg" ); }
.fi-lu {background-image: url( "flags/lu.svg" ); }
.fi-lv {background-image: url( "flags/lv.svg" ); }
.fi-ly {background-image: url( "flags/ly.svg" ); }
.fi-ma {background-image: url( "flags/ma.svg" ); }
.fi-mc {background-image: url( "flags/mc.svg" ); }
.fi-md {background-image: url( "flags/md.svg" ); }
.fi-me {background-image: url( "flags/me.svg" ); }
.fi-mf {background-image: url( "flags/mf.svg" ); }
.fi-mg {background-image: url( "flags/mg.svg" ); }
.fi-mh {background-image: url( "flags/mh.svg" ); }
.fi-mk {background-image: url( "flags/mk.svg" ); }
.fi-ml {background-image: url( "flags/ml.svg" ); }
.fi-mm {background-image: url( "flags/mm.svg" ); }
.fi-mn {background-image: url( "flags/mn.svg" ); }
.fi-mo {background-image: url( "flags/mo.svg" ); }
.fi-mp {background-image: url( "flags/mp.svg" ); }
.fi-mq {background-image: url( "flags/mq.svg" ); }
.fi-mr {background-image: url( "flags/mr.svg" ); }
.fi-ms {background-image: url( "flags/ms.svg" ); }
.fi-mt {background-image: url( "flags/mt.svg" ); }
.fi-mu {background-image: url( "flags/mu.svg" ); }
.fi-mv {background-image: url( "flags/mv.svg" ); }
.fi-mw {background-image: url( "flags/mw.svg" ); }
.fi-mx {background-image: url( "flags/mx.svg" ); }
.fi-my {background-image: url( "flags/my.svg" ); }
.fi-mz {background-image: url( "flags/mz.svg" ); }
.fi-na {background-image: url( "flags/na.svg" ); }
.fi-nc {background-image: url( "flags/nc.svg" ); }
.fi-ne {background-image: url( "flags/ne.svg" ); }
.fi-nf {background-image: url( "flags/nf.svg" ); }
.fi-ng {background-image: url( "flags/ng.svg" ); }
.fi-ni {background-image: url( "flags/ni.svg" ); }
.fi-nl {background-image: url( "flags/nl.svg" ); }
.fi-no {background-image: url( "flags/no.svg" ); }
.fi-np {background-image: url( "flags/np.svg" ); }
.fi-nr {background-image: url( "flags/nr.svg" ); }
.fi-nu {background-image: url( "flags/nu.svg" ); }
.fi-nz {background-image: url( "flags/nz.svg" ); }
.fi-om {background-image: url( "flags/om.svg" ); }
.fi-pa {background-image: url( "flags/pa.svg" ); }
.fi-pe {background-image: url( "flags/pe.svg" ); }
.fi-pf {background-image: url( "flags/pf.svg" ); }
.fi-pg {background-image: url( "flags/pg.svg" ); }
.fi-ph {background-image: url( "flags/ph.svg" ); }
.fi-pk {background-image: url( "flags/pk.svg" ); }
.fi-pl {background-image: url( "flags/pl.svg" ); }
.fi-pm {background-image: url( "flags/pm.svg" ); }
.fi-pn {background-image: url( "flags/pn.svg" ); }
.fi-pr {background-image: url( "flags/pr.svg" ); }
.fi-ps {background-image: url( "flags/ps.svg" ); }
.fi-pt {background-image: url( "flags/pt.svg" ); }
.fi-pw {background-image: url( "flags/pw.svg" ); }
.fi-py {background-image: url( "flags/py.svg" ); }
.fi-qa {background-image: url( "flags/qa.svg" ); }
.fi-re {background-image: url( "flags/re.svg" ); }
.fi-ro {background-image: url( "flags/ro.svg" ); }
.fi-rs {background-image: url( "flags/rs.svg" ); }
.fi-ru {background-image: url( "flags/ru.svg" ); }
.fi-rw {background-image: url( "flags/rw.svg" ); }
.fi-sa {background-image: url( "flags/sa.svg" ); }
.fi-sb {background-image: url( "flags/sb.svg" ); }
.fi-sc {background-image: url( "flags/sc.svg" ); }
.fi-sd {background-image: url( "flags/sd.svg" ); }
.fi-se {background-image: url( "flags/se.svg" ); }
.fi-sg {background-image: url( "flags/sg.svg" ); }
.fi-sh {background-image: url( "flags/sh.svg" ); }
.fi-si {background-image: url( "flags/si.svg" ); }
.fi-sj {background-image: url( "flags/sj.svg" ); }
.fi-sk {background-image: url( "flags/sk.svg" ); }
.fi-sl {background-image: url( "flags/sl.svg" ); }
.fi-sm {background-image: url( "flags/sm.svg" ); }
.fi-sn {background-image: url( "flags/sn.svg" ); }
.fi-so {background-image: url( "flags/so.svg" ); }
.fi-sr {background-image: url( "flags/sr.svg" ); }
.fi-ss {background-image: url( "flags/ss.svg" ); }
.fi-st {background-image: url( "flags/st.svg" ); }
.fi-sv {background-image: url( "flags/sv.svg" ); }
.fi-sx {background-image: url( "flags/sx.svg" ); }
.fi-sy {background-image: url( "flags/sy.svg" ); }
.fi-sz {background-image: url( "flags/sz.svg" ); }
.fi-ta {background-image: url( "flags/ta.svg" ); }
.fi-tc {background-image: url( "flags/tc.svg" ); }
.fi-td {background-image: url( "flags/td.svg" ); }
.fi-tf {background-image: url( "flags/tf.svg" ); }
.fi-tg {background-image: url( "flags/tg.svg" ); }
.fi-th {background-image: url( "flags/th.svg" ); }
.fi-tj {background-image: url( "flags/tj.svg" ); }
.fi-tk {background-image: url( "flags/tk.svg" ); }
.fi-tl {background-image: url( "flags/tl.svg" ); }
.fi-tm {background-image: url( "flags/tm.svg" ); }
.fi-tn {background-image: url( "flags/tn.svg" ); }
.fi-to {background-image: url( "flags/to.svg" ); }
.fi-tr {background-image: url( "flags/tr.svg" ); }
.fi-tt {background-image: url( "flags/tt.svg" ); }
.fi-tv {background-image: url( "flags/tv.svg" ); }
.fi-tw {background-image: url( "flags/tw.svg" ); }
.fi-tz {background-image: url( "flags/tz.svg" ); }
.fi-ua {background-image: url( "flags/ua.svg" ); }
.fi-ug {background-image: url( "flags/ug.svg" ); }
.fi-um {background-image: url( "flags/um.svg" ); }
.fi-un {background-image: url( "flags/un.svg" ); }
.fi-us {background-image: url( "flags/us.svg" ); }
.fi-uy {background-image: url( "flags/uy.svg" ); }
.fi-uz {background-image: url( "flags/uz.svg" ); }
.fi-va {background-image: url( "flags/va.svg" ); }
.fi-vc {background-image: url( "flags/vc.svg" ); }
.fi-ve {background-image: url( "flags/ve.svg" ); }
.fi-vg {background-image: url( "flags/vg.svg" ); }
.fi-vi {background-image: url( "flags/vi.svg" ); }
.fi-vn {background-image: url( "flags/vn.svg" ); }
.fi-vu {background-image: url( "flags/vu.svg" ); }
.fi-wf {background-image: url( "flags/wf.svg" ); }
.fi-ws {background-image: url( "flags/ws.svg" ); }
.fi-xk {background-image: url( "flags/xk.svg" ); }
.fi-xx {background-image: url( "flags/xx.svg" ); }
.fi-ye {background-image: url( "flags/ye.svg" ); }
.fi-yt {background-image: url( "flags/yt.svg" ); }
.fi-za {background-image: url( "flags/za.svg" ); }
.fi-zm {background-image: url( "flags/zm.svg" ); }
.fi-zw {background-image: url( "flags/zw.svg" ); }

.ps{
	display:inline-block;
	width:auto;height:16px;padding-left:20px;
	background-repeat: no-repeat;
	background-position: left center;
}

.ps-true {background-image: url( "images/encrypted.png" ); }
